<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 black-glow">Keybout</h1>
    <p class="lead black-glow">Simple multiplayer keyboard racing game</p>
    <a class="btn btn-primary btn-lg" routerLink="/play" role="button">Play</a>
  </div>
</div>

<div class="container">
  <h4>What is it?</h4>

  <p>KeyBout is a simple web-based multiplayer keyboard racing game, where the players
    have to type random words before the other players.</p>

  <p>The game requires keyboard skills (to type the words as fast as possible),
    strategy (will you go for the shorter words first, knowing that other players may do the same?)
    and a bit of luck.</p>

  <h4>How to play?</h4>

  <p>First choose a user name then connect to the server. Once connected, you can create or join games.
    Each game displays random words and users "capture" them by typing their letters.
    The first player that completely types a word wins it. Whoever wins the most words wins the round.</p>
</div>
