body {
  font-size: 18px;
}

.serif {
  font-family: Georgia, "Times New Roman", Times, serif;
}

a.larger {
  font-size: 130%;
}

.navbar-brand {
  color: #888
}

.navbar-brand:hover {
  color: #fff
}

.nav-link {
  color: #888
}

.nav-link:hover {
  color: #fff;
  cursor: pointer;
}

.white {
  color: #fff
}

.jumbotron {
  background: url('assets/img/keyboard.jpg') center center no-repeat;
  background-size: cover;
  height: 400px;
}

.black-glow {
  text-shadow: 0 0 2em black, 0 0 2em black, 0 0 2em black, 0 0 2em black;
}

h4 {
  margin-top: 1em;
  margin-bottom: 1em;
}

h5 {
  margin-bottom: 1em;
}

.table td {
  border-bottom: 1px solid #282828;
}

.countdown {
  text-align: center;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.connecting span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.connecting span:nth-child(2) {
  animation-delay: 0.2s;
}

.connecting span:nth-child(3) {
  animation-delay: 0.4s;
}

button.larger {
  width: 140px;
}
