<div #outerDiv>
  <div class="container" *ngIf="isVisible()">
    <h4>Go!</h4>
    <button *ngFor="let word of getWords()" type="button"
            [class]="getClass(word.label)">{{word.getEffectiveDisplay() | uppercase}}</button>
    <br>
    <input class="form-control mt-4" type="text" autocomplete="false" [(ngModel)]="inputWord" (keyup)="onKey()"/>
    <br>
    <div *ngIf="isWaiting()" class="text-center">
      Waiting for others players to complete the round...
    </div>
    <div *ngIf="canViewScores()" class="text-center">
      <button class="btn btn-primary" (click)="viewScores()">View scores</button>
    </div>
  </div>
</div>
