<div class="container">
  <h4>Statistics</h4>
  <p>
    <button class="btn btn-primary mb-2" (click)="reload()">Reload</button>
  </p>
  <div *ngIf="(stats$ | async) as stats">
    <table class="table w-auto mb-3">
      <thead>
      <tr>
        <th scope="col">&nbsp;</th>
        <th scope="col">Current</th>
        <th scope="col">Max</th>
        <th scope="col">Total</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Users</td>
        <td>{{stats.users.current}}</td>
        <td>{{stats.users.max}}</td>
        <td>{{stats.users.total}}</td>
      </tr>
      <tr>
        <td>Declared games</td>
        <td>{{stats.declaredGames.current}}</td>
        <td>{{stats.declaredGames.max}}</td>
        <td>{{stats.declaredGames.total}}</td>
      </tr>
      <tr>
        <td>Running games</td>
        <td>{{stats.runningGames.current}}</td>
        <td>{{stats.runningGames.max}}</td>
        <td>{{stats.runningGames.total}}</td>
      </tr>
      <tr>
        <td>Uptime</td>
        <td>{{stats.uptime.current}}</td>
        <td>{{stats.uptime.max}}</td>
        <td>{{stats.uptime.total}}</td>
      </tr>
    </table>
  </div>
</div>
