<div class="container">
  <h4>Statistics</h4>
  <p>
    <button class="btn btn-primary mb-2" (click)="reload()">Reload</button>
  </p>
  <div *ngIf="(stats$ | async) as stats">
    <table class="table w-auto mb-3">
      <thead>
      <tr>
        <th scope="col">&nbsp;</th>
        <th scope="col">Current</th>
        <th scope="col">Max</th>
        <th scope="col">Total</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Users</td>
        <td>{{stats['users']['currentCount']}}</td>
        <td>{{stats['users']['maxCount']}}</td>
        <td>{{stats['users']['totalCount']}}</td>
      </tr>
      <tr>
        <td>Declared games</td>
        <td>{{stats.declaredGames.currentCount}}</td>
        <td>{{stats.declaredGames.maxCount}}</td>
        <td>{{stats.declaredGames.totalCount}}</td>
      </tr>
      <tr>
        <td>Running games</td>
        <td>{{stats.runningGames.currentCount}}</td>
        <td>{{stats.runningGames.maxCount}}</td>
        <td>{{stats.runningGames.totalCount}}</td>
      </tr>
    </table>
    <p>Uptime: {{stats['uptime']}}</p>
  </div>
</div>
