<nav class="navbar navbar-expand-sm dark bg-dark border-0">
  <div class="container">
    <a routerLinkActive="white" class="navbar-brand serif larger" routerLink="/home">Keybout</a>

    <span class="badge badge-danger ml-n2 mt-n3">Alpha</span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLinkActive="white" class="nav-link ml-2" routerLink="/play">Play</a>
        </li>

        <li *ngIf="isAdmin()" class="nav-item">
          <a class="nav-link" routerLink="/demo" routerLinkActive="white">Demo</a>
        </li>

        <li *ngIf="isAdmin()" class="nav-item">
          <a class="nav-link" routerLink="/scores" routerLinkActive="white">Scores</a>
        </li>

        <li *ngIf="isAdmin()" class="nav-item">
          <a class="nav-link" routerLink="/statistics" routerLinkActive="white">Statistics</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/documentation" routerLinkActive="white">Documentation</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="white">About</a>
        </li>
      </ul>

      <ng-container *ngIf="isIdentified()">
        <span class="navbar-text text-primary">{{userName}}</span>
        <span class="navbar-text nav-link" (click)="quit()">Quit</span>
      </ng-container>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
