<div class="container" *ngIf="isVisible()">
  <div *ngIf="!isGameOver(); else gameOver">
    <h4>Round over</h4>
    <p>Round winner is <span [ngClass]="(userName === topRoundUser)?'text-success':'text-danger'"
                             class="font-weight-bold">{{topRoundUser}}</span>.
    </p>
    <p>Current game leader is <span [ngClass]="(userName === topGameUser)?'text-success':'text-danger'"
                                    class="font-weight-bold">{{topGameUser}}</span>.</p>
  </div>
  <ng-template #gameOver>
    <h4>Game over</h4>
    <p>Game winner is <span [ngClass]="(userName === topGameUser)?'text-success':'text-danger'"
                            class="font-weight-bold">{{topGameUser}}</span>.
    </p>
  </ng-template>
  <br>
  <div class="row">
    <div class="col">
      <h5>Round rankings</h5>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Rank</th>
          <th scope="col">Name</th>
          <th *ngIf="isCaptureGame()" scope="col">Words</th>
          <th *ngIf="isRaceGame()" scope="col">Duration</th>
          <th scope="col">Words/min</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let score of roundScores; index as i">
          <td [ngClass]="{'text-primary font-weight-bold': userName === score.userName}">{{i + 1}}</td>
          <td [ngClass]="{'text-primary font-weight-bold': userName === score.userName}">{{score.userName}}</td>
          <td *ngIf="isCaptureGame()" [ngClass]="{'text-primary font-weight-bold': userName === score.userName}">{{score.points}}</td>
          <td *ngIf="isRaceGame()" [ngClass]="{'text-primary font-weight-bold': userName === score.userName}">{{score.duration / 1000 | number:'1.1-1'}}</td>
          <td [ngClass]="{'text-primary font-weight-bold': userName === score.userName}">{{score.wpm | number:'1.1-1'}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <h5>Game rankings</h5>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Rank</th>
          <th scope="col">Name</th>
          <th scope="col">Rounds won</th>
          <th scope="col">Best w/m</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let score of gameScores; index as i">
          <td [ngClass]="{'text-primary font-weight-bold': userName === score.userName}">{{i + 1}}</td>
          <td [ngClass]="{'text-primary font-weight-bold': userName === score.userName}">{{score.userName}}</td>
          <td [ngClass]="{'text-primary font-weight-bold': userName === score.userName}">{{score.points}}</td>
          <td [ngClass]="{'text-primary font-weight-bold': userName === score.userName}">{{score.wpm | number:'1.1-1'}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <div *ngIf="!isGameOver() && isGameManager()" class="text-center">
    <button class="btn btn-primary" [disabled]="!canStart()" (click)="startNextRound()">Start next round</button>
  </div>
  <div *ngIf="!isGameOver() && !isGameManager()" class="text-center">
    Waiting for the game manager to start the next round...
  </div>
  <div *ngIf="isGameOver()" class="text-center">
    <button class="btn btn-primary" [disabled]="!canQuit()" (click)="quitGame()">Done</button>
  </div>
</div>
