<div class="container" *ngIf="isVisible()">
  <h4>{{isGameOver() ? 'Game' : 'Round'}} over</h4>
  <p>Round winner is <span [ngClass]="(userName === topRoundUser)?'text-success':'text-danger'"
                           class="font-weight-bold">{{topRoundUser}}</span>.
  </p>
  <p>Current game leader is <span [ngClass]="(userName === topRoundUser)?'text-success':'text-danger'"
                                  class="font-weight-bold">{{topGameUser}}</span>.</p>
  <br>
  <div class="row">
    <div class="col">
      <h5>Round scores</h5>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Rank</th>
          <th scope="col">Name</th>
          <th scope="col">Score</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let score of roundScores; index as i">
          <td [ngClass]="{'text-success font-weight-bold': userName === score.userName}">{{i + 1}}</td>
          <td [ngClass]="{'text-success font-weight-bold': userName === score.userName}">{{score.userName}}</td>
          <td [ngClass]="{'text-success font-weight-bold': userName === score.userName}">{{score.points}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <h5>Game scores</h5>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Rank</th>
          <th scope="col">Name</th>
          <th scope="col">Score</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let score of gameScores; index as i">
          <td [ngClass]="{'text-success font-weight-bold': userName === score.userName}">{{i + 1}}</td>
          <td [ngClass]="{'text-success font-weight-bold': userName === score.userName}">{{score.userName}}</td>
          <td [ngClass]="{'text-success font-weight-bold': userName === score.userName}">{{score.points}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <div *ngIf="!isGameOver() && isGameManager()" class="text-center">
    <button class="btn btn-primary" [disabled]="!canStart()" (click)="startNextRound()">Start next round</button>
  </div>
  <div *ngIf="!isGameOver() && !isGameManager()" class="text-center">
    Waiting for the game manager to start the next round...
  </div>
  <div *ngIf="isGameOver()" class="text-center">
    <button class="btn btn-primary" [disabled]="!canQuit()" (click)="quitGame()">Done</button>
  </div>
</div>
