<div class="container">
  <h4>Origins</h4>

  <p>KeyBout started in 2015 as a WebSocket (an advanced communication protocol over the Internet) sample project
    then evolved to a simple game.</p>

  <p>The original implementation was based on: JavaScript, WebSocket, HTML, Bootstrap, Java EE 8, WildFly, Maven</p>

  <h4>Rewrite</h4>

  <p>In 2019, to learn Angular and Kotlin, I started a full rewrite of the application.</p>

  <p>This second version is based on: Angular, SockJS, HTML, Bootstrap, Spring Boot, Kotlin, Maven</p>

  <h4>Author</h4>

  <p>My name is <b>Florian Beaufumé</b>. I am a freelance software architect and Java expert, living near Toulouse,
    France.</p>

  <p>You can check out my business site, <a href="http://www.adeliosys.fr/">Adeliosys</a>,
    or my <a href="https://www.linkedin.com/in/fbeaufume/">LinkedIn</a> or
    <a href="https://twitter.com/fbeaufume">Twitter</a> profiles.
  </p>

  <p>You can also view my public projects, including <a href="https://github.com/fbeaufume/keybout">Keybout</a>,
    in <a href="https://github.com/fbeaufume">GitHub</a>.</p>
</div>
