<div class="container" *ngIf="isVisible()">
  <h4>Join a game</h4>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Mode</th>
      <th scope="col">Style</th>
      <th scope="col">Language</th>
      <th scope="col">Difficulty</th>
      <th scope="col">Players</th>
      <th scope="col">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let game of games">
      <td>{{modeLabels[game.mode].pascal}}</td>
      <td>{{styleLabels[game.style].pascal}}</td>
      <td>{{languageLabels[game.language].pascal}}</td>
      <td>{{difficultyLabels[game.difficulty].pascal}}</td>
      <td>
        <div>{{game.creator}}</div>
        <div *ngFor="let player of game.players">{{player}}</div>
      </td>
      <td>
        <button *ngIf="canDeleteOrStart(game.id)" class="btn btn-primary mr-2" (click)="start()">Start</button>
        <button *ngIf="canDeleteOrStart(game.id)" class="btn btn-danger" (click)="delete()">Delete</button>
        <button *ngIf="canJoin()" class="btn btn-primary" (click)="join(game.id)">Join</button>
        <button *ngIf="canLeave(game.id)" class="btn btn-danger" (click)="leave()">Leave</button>
      </td>
    </tr>
    <tr *ngIf="noAvailableGame()">
      <td colspan="6">No available game yet</td>
    </tr>
    </tbody>
  </table>
  <br>
  <h4>Or create a game</h4>
  <form>
    <div class="form-group row">
      <label for="inputMode" class="col-sm-2 col-form-label">Mode</label>
      <div class="col-sm-3">
        <select class="form-control" id="inputMode" [(ngModel)]="mode" name="inputMode">
          <option *ngFor="let m of modes" [value]="m" [selected]="mode == m">{{modeLabels[m].pascal}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputStyle" class="col-sm-2 col-form-label">Style</label>
      <div class="col-sm-3">
        <select class="form-control" id="inputStyle" [(ngModel)]="style" name="inputStyle">
          <option *ngFor="let s of styles" [value]="s" [selected]="style == s">{{styleLabels[s].pascal}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputLanguage" class="col-sm-2 col-form-label">Language</label>
      <div class="col-sm-3">
        <select class="form-control" id="inputLanguage" [(ngModel)]="language" name="inputLanguage">
          <option *ngFor="let l of languages" [value]="l" [selected]="language == l">{{languageLabels[l].pascal}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputDifficulty" class="col-sm-2 col-form-label">Difficulty</label>
      <div class="col-sm-3">
        <select class="form-control" id="inputDifficulty" [(ngModel)]="difficulty" name="inputDifficulty">
          <option *ngFor="let d of difficulties" [value]="d" [selected]="difficulty == d">{{difficultyLabels[d].pascal}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2"></div>
      <div class="col-sm-3">
        <button type="submit" class="btn btn-primary" [disabled]="!canCreate()" (click)="create()">Create</button>
      </div>
    </div>
  </form>
</div>
