<div class="container" *ngIf="isVisible()">
  <h4>Join a game</h4>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Creator</th>
      <th scope="col">Type</th>
      <th scope="col">Words</th>
      <th scope="col">Language</th>
      <th scope="col">Players</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let game of games">
      <td>{{game.creator}}</td>
      <td>{{game.type}}</td>
      <td>{{game.words}}</td>
      <td>{{game.language}}</td>
      <td>{{game.players.join(', ')}}</td>
      <td>
        <button *ngIf="canDeleteOrStart(game.id)" class="btn btn-primary mr-2" (click)="start()">Start</button>
        <button *ngIf="canDeleteOrStart(game.id)" class="btn btn-danger" (click)="delete()">Delete</button>
        <button *ngIf="canJoin()" class="btn btn-primary" (click)="join(game.id)">Join</button>
        <button *ngIf="canLeave(game.id)" class="btn btn-danger" (click)="leave()">Leave</button>
      </td>
    </tr>
    <tr *ngIf="noAvailableGame()">
      <td colspan="6">No available game yet</td>
    </tr>
    </tbody>
  </table>
  <br>
  <h4>Or create a game</h4>
  <form>
    <div class="form-group row">
      <label for="inputType" class="col-sm-2 col-form-label">Type</label>
      <div class="col-sm-3">
        <select class="form-control" id="inputType" [(ngModel)]="type" name="inputType">
          <option *ngFor="let t of types" [value]="t.id" [selected]="type == t.id">{{t.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputWords" class="col-sm-2 col-form-label">Words</label>
      <div class="col-sm-3">
        <select class="form-control" id="inputWords" [(ngModel)]="wordCount" name="inputWords">
          <option *ngFor="let w of wordCounts" [selected]="wordCount == w">{{w}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputLanguage" class="col-sm-2 col-form-label">Language</label>
      <div class="col-sm-3">
        <select class="form-control" id="inputLanguage" [(ngModel)]="language" name="inputLanguage">
          <option *ngFor="let l of languages" [value]="l.id" [selected]="language == l.name">{{l.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2"></div>
      <div class="col-sm-3">
        <button type="submit" class="btn btn-primary" [disabled]="!canCreate()" (click)="create()">Create</button>
      </div>
    </div>
  </form>
</div>
